body {
background-color: white;
color: black;
margin: 0px;
font-family: sans-serif;
}

#code {
  text-align:center;
}

#name {
  text-align: center;
}

#buttonoutside {
  background-color: seagreen;
  padding-left: 10px;
  padding-top: 10px;
}

#actualbutton {
  height: 40px;
  width:100px;
  font-size:12px;
}

#middle {
  padding-left: 10px;
  background-color: silver;
  padding-top: 10px;
  padding-bottom: 10px;
}

#messagesDiv{
  text-align: left;
  padding-left: 10px;
  background-color: silver;
  padding-top: 10px;
}

#title{
  text-align: left;;
  background-color: seagreen;
  margin: 0px;
  padding: 10px;
}

#question{
  text-align:left;
  font-size: 24px;
  padding-left: 10px;
}
